$bgDefault: #3c56e7;
$bgHighlight: #123fd6;
$colDefault: #12111a;
$colHighlight: #a908be;
.navbar-default {
    //  background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover,
        &:focus {
            color: $colHighlight;
        }
    }
    .navbar-text {
        color: $colDefault;
    }
    .navbar-nav {
        >li {
            >a {
                color: $colDefault;
                &:hover,
                &:focus {
                    color: $colHighlight;
                }
            }
        }
        >.active {
            >a,
            >a:hover,
            >a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
        >.open {
            >a,
            >a:hover,
            >a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover,
        &:focus {
            background-color: $bgHighlight;
        }
        .icon-bar {
            background-color: $colDefault;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault;
    }
    .nav-link {
        color: $colDefault;
        &:hover {
            color: $colHighlight;
        }
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        >li>a {
            color: $colDefault;
            &:hover,
            &:focus {
                color: $colHighlight;
            }
        }
        >.active {
            >a,
            >a:hover,
            >a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
}

a,
footer a {
    color: $colDefault;
    &:hover,
    &:focus {
        color: $colHighlight;
    }
}

.activeClick {
    color: $colHighlight;
    &:hover,
    &:focus {
        color: $colDefault;
    }
}